/* 
 * Voyager Decoder written in Python 3.8.x
 * Copyright 2020 Alexis BELMONTE
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is furnished
 * to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
 * SOFTWARE.
 */

/* Main window layout contents */
window box.voyager-main-layout
{
    /* We add some base padding to "aerate" the window and make it pleasant to
       look like - even programs for very-specific-uses can look great! */
    padding: 16px;
}

/* Main window "framed" widgets */
.voyager-frame
{
    border: 1px solid alpha(@borders, 0.5);
    border-radius: 6px;
    
    /* We add padding to prevent the widget's graphics from clashing with the
       frame */
    padding-top: 6px;
    padding-bottom: 6px;
}

/* First element in a GtkList */
list.voyager-listbox > row:first-child
{
    /* See comment below for more details */
    border-top: 1px solid alpha(@borders, 0.25);
}

/* Elements in a GtkList */
list.voyager-listbox > row
{
    /* Add a "line" to the bottom of the element */
    border-bottom: 1px solid alpha(@borders, 0.25);
    
    /* We add some padding to the element */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Common properties for the labels in the first GtkBox */
list.voyager-listbox row box box:first-child > label
{
    /* We prevent the text from getting "glued" to the widget located on the right side of the row */
    margin-right: 72px;
}

/* Title of a row in a GtkList */
list.voyager-listbox row box box:first-child > label:first-child
{
    /* Properties that put into highlight the row title */
    font-weight: bold;
}

/* Description of a row in a GtkList */
list.voyager-listbox row box box:first-child > label:last-child
{
    /* Nuance color */
    color: @wm_unfocused_title;
    
    /* We reduce the font size a bit */
    font-size: 0.90em;
    
    /* We add some spacing to the top */
    margin-top: 2px;
}
